@media only screen and (max-width: 720px) {

    h1 {
        display: none;
    }

    #canvas {
        width: 100%;
    }

    #myCanvas {
        margin-top: 100px;
    }

    #startBtn {
        font-size: 16px;
        font-size: 2.5vw;
        width: 15%;
        height: 10%;
    }

    #startBtn img {
        width: 100%;
        height: 100%;
    }

}


@media only screen and (max-width: 1000px) {

    #buttonJump {
        background-image: url('img/2_character_pepe/3_jump/J-36.png');
        height: 55px;
        width: 55px;
        background-position-y: top;
        background-position-x: center;
        border: 1px solid brown;
        border-radius: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        bottom: 42px;
        right: 10px;
        font-size: 22px;
    }

    #buttonBottle {
        background-image: url('img/6_salsa_bottle/salsa_bottle.png');
        height: 55px;
        width: 55px;
        background-position-y: top;
        background-position-x: center;
        border: 1px solid brown;
        border-radius: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        bottom: 12px;
        right: 103px;
        font-size: 22px;
    }

    #buttonLeft {
        height: 40px;
        width: 40px;
        border: 1px solid brown;
        border-radius: 50% 50%;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        bottom: 12px;
        left: 10px;
    }

    #buttonRight {
        height: 40px;
        width: 40px;
        border: 1px solid brown;
        border-radius: 50% 50%;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        bottom: 12px;
        left: 85px;
    }
}

@media (max-width: 720px) {
    #myCanvas {
        width: 100%;
    }
}


@media (min-width: 100px) {
    .notice-container {
        display: none;
    }
}