body {
    font-family: 'Economica', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-position: 50% 50%;
    font-size: xx-large;
    background-image: url("img/10_icons/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

canvas {
    background-color: black;
}

h1 {
    font-family: 'Economica', sans-serif;
}

#myCanvas {
    position: relative;
    display: block;
    width: 720px;
    height: 480px;

}

#startScreen img {
    width: 100%;
    height: 100%;
    display: block;
}

#startScreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#settingsImg {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#volumeUp {
    width: 35px;
    height: 35px;
    display: none;
    position: absolute;
    top: 5px;
    right: 50px;
    cursor: pointer;
}

#volumeOff {
    width: 35px;
    height: 35px;
    display: none;
    position: absolute;
    top: 5px;
    right: 60px;
    cursor: pointer;
}

#startBtn {
    width: 110px;
    height: 50px;
    display: none;
    position: absolute;
    top: 60px;
    right: 295px;
    background: #f6bf00;
    justify-content: center;
    align-items: center;
    border: 1px solid #952102;
    border-radius: 8px;
    cursor: pointer;
}

#startBtn:hover {
    display: flex;
    background: #f7d300;
}

#loader {
    width: 720px;
    height: 480px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f6bf00;
}

#loader img {
    width: 80px;
    height: 80px;
}

.instructions-con {
    display: flex;
    width: 720px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 18px;
}

.instructions-bottle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions-bottle img {
    width: 70px;
    height: 70px;
}

#gameOverImg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#youLostImg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#restartBtn {
    font-family: 'Economica', sans-serif;
    width: 180px;
    height: 60px;
    font-size: xx-large;
    display: none;
    position: absolute;
    right: 274px;
    background: rgb(246, 191, 0);
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(149, 33, 2);
    border-radius: 8px;
    cursor: pointer;
    bottom: 50px;
}