body {
    font-family: 'Economica', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-position: 50% 50%;
    font-size: xx-large;
    background-image: url("img/10_icons/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

canvas {
    background-color: black;
}

h1 {
    font-family: 'Economica', sans-serif;
}

#myCanvas {
    position: relative;
    display: block;
    width: 720px;
    /* height: 480px; */
}

#startScreen img {
    width: 100%;
    height: 100%;
    display: block;
}

#startScreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#helpImg {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#helpImg img {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #676565;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 35px;
    left: -10px;
    z-index: 1;
    font-size: 19px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#helpCon {
    width: 260px;
    height: 180px;
    display: none;
    position: absolute;
    background-color: white;
    font-size: 28px;
    border-radius: 15px;
    padding: 10px;
    top: 35px;
    right: 35px;
}

.help-text {
    font-size: 20px;
    margin: auto;
}

.more-help {
    display: contents;
    font-size: 18px;
    cursor: pointer;
}

.more-help:hover {
    color: blue;
}

.help-img-bottle {
    width: 45px;
    height: 45px;
}

.keys-con {
    display: block;
    font-size: 20px;
}

.game-control-head {
    font-size: 28px;
    margin: auto;
}

.keys-control {
    margin: auto;
}

.keys-control img {
    width: 20px;
    height: 25px;
}

#volumeUp {
    width: 35px;
    height: 35px;
    display: none;
    position: absolute;
    cursor: pointer;
}

#volumeOff {
    width: 35px;
    height: 35px;
    display: none;
    position: absolute;
    cursor: pointer;
}

.tooltip2 {
    display: flex;
    position: absolute;
    top: 5px;
    right: 90px;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 60px;
    background-color: #676565;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 35px;
    left: -10px;
    z-index: 1;
    font-size: 19px;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.start-btn-con {
    display: flex;
    justify-content: center;
}

#startBtn {
    width: 110px;
    height: 50px;
    display: none;
    position: absolute;
    top: 18%;
    background: #f6bf00;
    justify-content: center;
    align-items: center;
    border: 1px solid #952102;
    border-radius: 8px;
    cursor: pointer;
}

#startBtn:hover {
    display: flex;
    background: #f7d300;
}

#loader {
    /* width: 720px; */
    width: 100%;
    height: 100%;
    /* height: 480px; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f6bf00;
}

#loader img {
    width: 80px;
    height: 80px;
}

#mobileButtons {
    display: none;
}

.instructions-con {
    display: flex;
    width: 720px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 18px;
}

.instructions-bottle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions-bottle img {
    width: 70px;
    height: 70px;
}

#endScreen img {
    width: 100%;
    height: 100%;
    display: none;
}

#gameOverImg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#youLostImg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.restart-button-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

#restartBtn {
    font-family: 'Economica', sans-serif;
    font-size: xx-large;
    width: 160px;
    height: 50px;
    display: none;
    position: absolute;
    top: 50%;
    background: #f6bf00;
    justify-content: center;
    align-items: center;
    border: 1px solid #952102;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width: 721px) {
    #mobileButtons {
        display: none !important;
    }

}

@media (orientation: landscape) {}


@media only screen and (max-width: 720px) {

    h1 {
        display: none;
    }

    #canvas {
        width: 100%;
        /* height: 100%; */
    }

    #myCanvas {
        margin-top: 100px;
    }

    #startBtn {
        width: 95px;
        height: 45px;
    }

    #startBtn img {
        width: 35px;
        height: 35px;
    }

    #buttonJump {
        background-image: url('img/2_character_pepe/3_jump/J-36.png');
        height: 72px;
        width: 72px;
        background-position-y: top;
        background-position-x: center;
        border: 1px solid brown;
        border-radius: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        bottom: 42px;
        right: 10px;
    }

    #buttonBottle {
        background-image: url('img/6_salsa_bottle/salsa_bottle.png');
        height: 72px;
        width: 72px;
        background-position-y: top;
        background-position-x: center;
        border: 1px solid brown;
        border-radius: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        bottom: 12px;
        right: 103px;
    }

    #buttonLeft {
        /* background-image: url('img/6_salsa_bottle/salsa_bottle.png'); */
        height: 56px;
        width: 56px;
        border: 1px solid brown;
        border-radius: 50% 50%;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        bottom: 12px;
        left: 10px;
    }

    #buttonRight {
        /* background-image: url('img/6_salsa_bottle/salsa_bottle.png'); */
        height: 56px;
        width: 56px;
        border: 1px solid brown;
        border-radius: 50% 50%;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        bottom: 12px;
        left: 103px;
    }


}


@media (max-width: 720px) {
    #myCanvas {
        width: 100%;
    }
}